{% load static %}
<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!--    Ajoute d'un balise block modifiable dans les autres pages
                cela pourrait être vide ente les block-->
        {% block title %}
            <title>Bienvenue sur LITReview</title>
        {% endblock %}
        <link rel="stylesheet" href="{% static 'css/style.css' %}"
    </head>
    <body>

        <header>
            <div class="logo">
                <p> LITReview </p>
            </div>

            <nav class="header-nav">
                <ul>
                    {% if user.is_authenticated %}
                    <li><a class="link" id="Flux" href="{% url 'criticizes:flux' %}">Flux</a></li>
                    <li></li>
                    <li><a class="link" id="Posts" href="#">Posts</a></li>
                    <li></li>
                    <li><a class="link" id="Abonnements" href="{% url 'criticizes:user_follow' %}">Abonnements</a></li>
                    <li></li>
                    <li><a class="link" id="Deconnexion" href="{% url 'accounts:logout' %}">Se déconnecter</a></li>
                    <li></li>
                    <li id="nameuser">@ {{ user }}</li>
                    {% endif %}
                </ul>
            </nav class="header-nav">
        </header>

        <section id="page_content">
            {% block content %}
            {% endblock %}
        </section>

        <footer>
            <p>Copyright LitReview - Tous droits réservés<br />
            <a href="#">Nous contacter !</a></p>
        </footer>

    </body>
</html>