{% load criticizes_extras %}


<div class="view-ticket-display">
    <p id="date">{{review.time_created|date:'f, j F Y' }} </p>
    <h5> {% get_poster_display review.user %} publié une critique</h5>
            {{ review.rating }}
        {{ review.pk  }}
    <div class="title-and-rating-container">
<!--        pour ajouter un espace en fin de ligne &#160-->
        <h2>{{ review.headline }}   -&#160</h2>
        <div>
            {% if review.rating == 0 %}
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
            {% elif review.rating == 1 %}
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
            {% elif review.rating == 2 %}
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
            {% elif review.rating == 3 %}
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
            {% elif review.rating == 4 %}
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star"></span>
            {% elif review.rating == 5 %}
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
            {% endif %}
        </div>
    </div>
    <p id="view-ticket-description"> {{ review.body  }} </p>
    <div class="ticket-inside-review">
<!--        <p id="date">{{instance.ticket.time_created|date:'f, j F Y' }} </p>-->
        <h5>  Ticket de {{ instance.ticket.user }}</h5>
        <h2>{{ instance.ticket.title }}</h2>
            {{ instance.ticket.pk  }}
        <p id="view-ticket-description"> {{ instance.ticket.description  }} </p>
            {% if instance.ticket.image %}
            <img class="avatar" src={{ instance.ticket.image.url }}>
            {% endif %}
    </div>
        <div class="button-create-review">
            {% if review.user == request.user %}
                <a href="{% url 'criticizes:criticism_update' review_pk=review.pk %}">
                <button>Modifier</button></a>
                <a href="{% url 'criticizes:confirmation_delete_review' review_pk=review.pk %}">
                <button>Supprimer</button></a>
            {% endif %}
        </div>
</div>