{% load criticizes_extras %}

<div class="view-ticket-display">
    <p id="date">{{ticket.time_created|date:'f, j F Y' }} </p>
    <h5> {% get_poster_display ticket.user %} publié un ticket</h5>
    <h2>{{ ticket.title }}</h2>
    <p id="view-ticket-description"> {{ ticket.description  }} </p>
        {% if ticket.image %}
        <img class="avatar" src={{ ticket.image.url }}>
        {% endif %}
    <div class="button-create-review">
        {% if ticket.user == request.user %}
            <a href="{% url 'criticizes:ticket_update' ticket_pk=ticket.pk %}">
                <button>Modifier</button></a>
            <a href="{% url 'criticizes:confirmation_delete_ticket' ticket_pk=ticket.pk %}">
                <button>Supprimer</button></a>
        {% else %}
            {% if  ticket.pk not in tickets_followed %}
                <a href="{% url 'criticizes:criticism' ticket_pk=ticket.pk %}">
                    <button>Créer une critique</button></a>
            {% endif %}
        {% endif %}

    </div>
</div>
