{% load criticizes_extras %}

<div class="view-ticket-display">
    <p id="date">{{ticket.time_created|date:'f, j F Y' }} </p>
    <h5> {% get_poster_display ticket.user %} publié un ticket</h5>
    <h2>{{ ticket.title }}</h2>
        {{ ticket.pk  }}
    <p id="view-ticket-description"> {{ ticket.description  }} </p>
        {% if ticket.image %}
        <img class="avatar" src={{ ticket.image.url }}>
        {% endif %}
    <div class="button-create-review">
        <form action="{% url 'criticizes:criticism' %}" method="POST">
         {% csrf_token %}
        <input type="hidden" name="ticket_pk" value="{{ ticket.pk }}">
        {% if  ticket.pk not in tickets_followed %}
        <button type="submit">Créer une critique</button>
        {% endif %}
    </div>
</div>
