@import url('https//fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');
@import "reset.css";

body {
    background-color: mintcream;
    font-family: 'Raleway', sans-serif;
}

/*----- Header -----*/

header
{
    background-color: rgb(98,117,127);
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.header-nav
{
    width: 100%;
}


.logo
{
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

.logo img
{
    width: 50%;
    height: 50%;
}

/*---- Navigation -----*/

nav
{
    display: flex;
    justify-content: center;
}

nav ul
{
    list-style-type: none;
    text-align: center;
    display: inline-block;
    list-style-type: none;
    padding-left: 5px;
    padding-right: 5px;
}

nav a
{
    font-size: 1.3em;
    color:white;
    padding-bottom: 3px;
    text-decoration: none;
    text-align: center;
}

li
{
    display: inline-block;
    margin-left: 20px;
}

#nameuser
{
    font-style: italic;
    font-weight: bold;
}

/*---- Body -----*/

#page_content {
    display: flex;
    align-items: center;
    margin-top: 5rem;
}

.suivis, .abonnements, .abonnes {
    margin-top: 2rem;
}

/*----- Footer -----*/

footer
{
    background-color: rgb(98,117,127);
    text-align: center;
}

/*----- Connexion page -----*/

.connexionbody {
    background-color: yellow;
    flex_direction: column;
    width: 100%;
    height: 5%;
    display: flex;
    justify-content: space-around;
}

.inscription, .connexion {
    background-color: white;
    text-align: center;
}

/*----- Page followers -----*/
.bodyfollowers {
    align_items: column;
}

/*----- Page Flux -----*/
bodyFlux {
    display: flex;
    align_items: column;
}

/*----- Page criticism -----*/
.criticism-container {
    display:flex
    flex-direction: column;
}

#title-page-criticism {
    text-align: center;
    margin: .5rem 0;
}

#title-section-view-ticket {
    margin: .5rem 0;
}

#date {
    font-size: 0.8em;
    text-align: right;
    margin: .5rem .5rem;
}


.view-ticket-display {
    border: solid;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.view-ticket-display > h5, h2 {
    margin: .5rem 0 0 .5rem;
}

#view-ticket-description {
    margin: .5rem 0 0 .5rem;
    margin-bottom: .5rem;
}

.view-answer-display {
    display: flex;
    flex-direction: column;
}

input, textarea {
    display: block;
    border: 1px solid #ced4da;
    border-radius: .25rem;
}

textarea {
    padding: .75rem;
    line-height: 1.5;
}

textarea, #id_headline {
    min-width: 800px;
}

label {
    display: inline-block;
    box-sizing: border-box;
    margin: 0.5rem 0;
}

#view-answer-button {
    margin-left: auto;
    margin-bottom: 2rem;
    cursor: pointer;
    margin-top: 1rem;
}

/*----- Pages tickets et tickets_update -----*/
.ticket-container {
    display:flex
    flex-direction: column;
}

#title-page-ticket {
    text-align: center;
    margin: .5rem 0;
}

#id_title {
    min-width: 800px;
}

#ticket-form p:last-child {
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    /*align-items: center;*/
}

#id_image {
    /* background-color: green; */
}

#image-clear_id {
    background-color: yellow;
}