{% extends 'base.html' %}

{% block title %}
    <title>Formulaire d'inscription</title>
{% endblock %}

{% block content %}

<div class="bodyFlux">
    <div class="bodyinscription">
        <h1>Inscrivez-vous</h1>

        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}



            <input type="button" value="Retourner">
            <input type="submit" value="S'inscrire">
        </form>
                {% if error %}
            <h3 style="color: red;">
                {{ error }}
            </h3>
            {% endif %}
    </div>
</div>
{% endblock %}