{% extends 'base.html' %}

{% block title %}
    <title>Supprimer une critique</title>
{% endblock %}

{% block content %}
<div class="bodyconfirmation">
    <div class="confirmation">
        <p>Êtes-vous sûr de vouloir supprimer la critique :  {{ review }}</p>
        <a href="{% url 'criticizes:delete_review' review_pk=review.pk %}">
        <button class="btn btn-delete">Oui, supprimer</button></a>
        <a href="{% url 'criticizes:delete_review' review_pk="No" %}">
        <button class="btn btn-cancel">Non, retour</button></a>
    </div>
</div>
{% endblock %}

