{% extends 'base.html' %}
{% load criticizes_extras %}

{% block title %}
    <title>Flux</title>
{% endblock %}

{% block content %}

    <div class="bodyFlux">
        <div class="buttons-flux">
            <a href="{% url 'criticizes:ticket' %}">
              <button>Demander une citique</button>
            </a>

            <a href="{% url 'criticizes:criticism_direct' %}">
              <button>Créer une citique</button>
            </a>

        </div>

        <section class="bodyFluxElements">
            {% for instance in page_obj %}
                {% if instance|model_type == 'Ticket' %}
                    <div>
                    {% include 'criticizes/partials/ticket_snippet.html' with ticket=instance %}
                    <div/>
                {% elif instance|model_type == 'Review' %}
                        <div class="flux-review-and-ticket">>
                        {% include 'criticizes/partials/review_snippet.html' with review=instance %}

                        </div>
                {% endif %}
            {% endfor %}
                <div id="command-pages">
        <span>
            {% if page_obj.has_previous %}
                <br>
                <a href="?page=1">&laquo; première</a>
                <a href="?page={{ page_obj.previous_page_number }}">précédente</a>
            {% endif %}

            <span>
                <br>
                Page {{ page_obj.number }} sur {{ page_obj.paginator.num_pages }}
                <br>
                <br>
            </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">suivante</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">dernière &raquo;</a>
            {% endif %}
        </span>
    </div>
        </div>

    </div>

{% endblock content %}

<!--        <section class="bodyFlux">-->
<!--            <h1>Liste des tickets</h1>-->
<!--            {% for ticket in tickets %}-->
<!--            <div id="fluxTitleTicket"-->
<!--            <h2>{{ ticket.title }}</h2>-->
<!--            <h5> Publié par  <i> {{ ticket.user.username }} </i> {{ticket.time_created|date:'j F Y' }} </h5>-->
<!--            {{ ticket.pk  }}-->
<!--            {{ ticket.description  }}-->
<!--            {% if ticket.image %}-->
<!--            <img class="avatar" src={{ ticket.image.url }}>-->

<!--            {% endif %}-->

<!--            {% endfor %}-->
<!--        </section>-->