{% extends 'base.html' %}

{% block title %}
    <title>Flux</title>
{% endblock %}

{% block content %}

    <div>


        <section class="bodyFlux">
            <h1>Liste des tickets</h1>
            {% for ticket in tickets %}
            <div id="fluxTitleTicket"
            <h2>{{ ticket.title }}</h2>
            <h5> Publié par  <i> {{ ticket.user.username }} </i> {{ticket.time_created|date:'j F Y' }} </h5>
            {{ ticket.pk  }}
            {{ ticket.description  }}
            {% if ticket.image %}
            <img class="avatar" src={{ ticket.image.url }}>

            {% endif %}

            {% endfor %}
        </section>

    </div>



{% endblock %}