{% extends 'base.html' %}
{% load criticizes_extras %}

{% block title %}
    <title>Flux</title>
{% endblock %}

{% block content %}

    <div>
        <div>
            <a href="{% url 'criticizes:ticket' %}">
              <button>Demander une citique</button>
            </a>

            <a href="{% url 'criticizes:criticism_direct' %}">
              <button>Créer une citique</button>
            </a>

        </div>

        <section class="bodyFlux">
            <h1>Liste des tickets</h1>
            {% for instance in tickets_and_reviews %}
                {% if instance|model_type == 'Ticket' %}
                    {% include 'criticizes/partials/ticket_snippet.html' with ticket=instance %}
                {% elif instance|model_type == 'Review' %}

                {% endif %}
            {% endfor %}
        </section>

    </div>



{% endblock %}

<!--        <section class="bodyFlux">-->
<!--            <h1>Liste des tickets</h1>-->
<!--            {% for ticket in tickets %}-->
<!--            <div id="fluxTitleTicket"-->
<!--            <h2>{{ ticket.title }}</h2>-->
<!--            <h5> Publié par  <i> {{ ticket.user.username }} </i> {{ticket.time_created|date:'j F Y' }} </h5>-->
<!--            {{ ticket.pk  }}-->
<!--            {{ ticket.description  }}-->
<!--            {% if ticket.image %}-->
<!--            <img class="avatar" src={{ ticket.image.url }}>-->

<!--            {% endif %}-->

<!--            {% endfor %}-->
<!--        </section>-->