{% extends 'base.html' %}

{% block title %}
    <title>Onglet d'abonnement</title>
{% endblock %}

{% block content %}

<div class="bodyfollowers">
    <section class="suivis">
        <h1>Suivre d'autres utilisateurs</h1>
            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
        <div class="body-suivis">
            <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}


            <input id="confirm-follow" type="submit" value="Envoyer">
        </div>
    </section>


    <section class="abonnements">
        <h1>Abonnements</h1>
        {% for follow in followed_by_user %}
        <table class="tab-abonnement">
            <tr>
              <td>{{ follow.followed_user.username }}</td>
              <td> <form id="abo-form" action="{% url 'criticizes:delete-subscription' %}" method="POST">
                  {% csrf_token %}
                    <input type="hidden" name="primary_key_of_subscription" value="{{ follow.pk }}">
                  </form>
              </td>
                <td id="desabonnes">

                  <button form="abo-form"  type="submit">Désabonner</button>
                </td>
            </tr>

              </td>
        </table>
<!--            {{ follow }}-->
<!--            {{ follow.user.username }}-->
            {% endfor %}
    </section>

    <section class="abonnes">
        <h1>Abonnés</h1>
        {% for following in user_followed_by %}
<!--            <h1>{{ following.followed_user.username }}</h1>-->
        <table>
            <tr>{{ following.user }}</tr>
        </table>
        {% endfor %}
    </section>

</div>

{% endblock %}