{% extends 'base.html' %}

{% block title %}
    <title>posts</title>
{% endblock %}

{% block content %}

    <div>


        <section class="bodyPosts">
            <h1>Vos posts</h1>
            {% for post in posts %}
            <div id="fluxTitlePost"
            <h2>{{ Post.title }}</h2>
            <h5> Publié par  <i> {{ post.user.username }} </i> {{post.time_created|date:'j F Y' }} </h5>
            {{ post.pk  }}
            {{ psot.description  }}
            {% if post.image %}
            <img class="avatar" src={{ post.image.url }}>

            {% endif %}

            {% endfor %}
        </section>

    </div>



{% endblock %}