{% extends 'base.html' %}

{% block title %}
    <title>posts</title>
{% endblock %}

{% block content %}

    <div>


        <section class="bodyPosts">
            <h1>Vos posts</h1>
<!--            {% for post in posts %}-->
<!--            <div id="fluxTitlePost"-->
<!--            <h2>{{ Post.title }}</h2>-->
<!--            <h5> Publié par  <i> {{ post.user.username }} </i> {{post.time_created|date:'j F Y' }} </h5>-->
<!--            {{ post.pk  }}-->
<!--            {{ psot.description  }}-->
<!--            {% if post.image %}-->
<!--            <img class="avatar" src={{ post.image.url }}>-->

<!--            {% endif %}-->

<!--            {% endfor %}-->
            {% for instance in page_obj %}
                {% if instance|model_type == 'Ticket' %}
                    {% include 'criticizes/partials/ticket_snippet.html' with ticket=instance %}
                {% elif instance|model_type == 'Review' %}
                    {% include 'criticizes/partials/review_snippet.html' with review=instance %}

                {% endif %}
            {% endfor %}
                <div id="command-pages">
        <span>
            {% if page_obj.has_previous %}
                <br>
                <a href="?page=1">&laquo; première</a>
                <a href="?page={{ page_obj.previous_page_number }}">précédente</a>
            {% endif %}

            <span>
                <br>
                Page {{ page_obj.number }} sur {{ page_obj.paginator.num_pages }}
                <br>
                <br>
            </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">suivante</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">dernière &raquo;</a>
            {% endif %}
        </span>
    </div>
        </section>

    </div>



{% endblock %}