{% extends 'base.html' %}

{% block title %}
    <title>Supprimer un ticket</title>
{% endblock %}

{% block content %}
<div class="bodyconfirmation">
    <div class="confirmation">
        <form action="{% url 'criticizes:delete_ticket' %}" method="POST">
            {% csrf_token %}
            <p>Êtes-vous sûr de vouloir supprimer le ticket : {{ ticket.title }}</p>

            <input type="hidden" name="ticket_pk" value="{{ ticket.pk }}" >
            <button  class="btn-delete" type="submit">Oui, supprimer</button>

        </form>
    </div>
</div>
{% endblock %}

