{% extends 'base.html' %}

{% block title %}
    <title>Formulaire d'inscription</title>
{% endblock %}

{% block content %}

<section class="connexionbody">
    <div class="inscription">
        <p>Inscrivez-vous maintenant</p>
<!--        <input type="button" onclick="window.location.pathname = 'LitReview/compte/nouveau';" value="S'inscrire"/>-->
        <div id="inscription-btn">
            <a href="{% url 'accounts:signup' %}"> <input type="button" value="S'inscrire"></a>
        </div>
    </div>

    <div class="connexion">
        <p>Connectez-vous</p>
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Se connecter">
        </form>
    </div>

</section>

{% endblock %}
